<div class="container mt-5">
  <h1>Ukiyo App Demo</h1>
  <div class="d-flex justify-content-between">
    <section class="buttons-container d-flex flex-row justify-content-between w-25">
      <button class="btn btn-outline-info" (click)="createPerson()">Create</button>
    </section>
    <section class="search-box d-flex justify-content-between" [formGroup]="searchForm">
      <input type="text" placeholder="Input a search term..." formControlName="searchTerm">
    </section>
  </div>
  <table>
    <thead>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Type</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Company Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons" class="table-row border-black border-bottom ">
      <td class="d-flex justify-content-between button-container" headers="Select">
        <input type="checkbox" class="form-check-input"/>
        <div class="d-flex button-group justify-content-between" *ngIf="!person.isChild">
          <button class="btn btn-outline-danger" (click)="deleteRecord(person)"><i class="bi bi-trash"></i></button>
          <button class="btn btn-outline-secondary" (click)="updateRecord(person)"><i class="bi bi-pencil"></i></button>
        </div>
      </td>
      <td headers="Name"><i class="bi bi-arrow-right-short" (click)="expand($event)"></i>{{person.name}}</td>
      <td headers="Type">{{person.type}}</td>
      <td headers="Email">{{person.email}}</td>
      <td headers="Phone Number">{{person.phoneNo}}</td>
      <td headers="Company Name">{{person.companyName}}</td>
      <td headers="Address">{{person.address}}</td>
    </tr>
    </tbody>
  </table>
</div>
